body {
  margin: 0;
  font-family: Arial;
  background: #ffffff;
}

header {
  background: #1a73e8;
  color: white;
  padding: 30px;
  text-align: center;
}

.hero {
  padding: 40px;
  text-align: center;
}

button {
  background: #34a853;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.beneficios {
  padding: 30px;
}

footer {
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
}
